*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Open Sans Light; /* Гарнитура шрифта */
    src: url(fonts/Open_Sans.ttf); /* Путь к файлу со шрифтом */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #143258;
    outline: none;
}
body.lock{
    overflow: hidden;
}

.header{
    width: 100%;
    height: 60px;
    background: url("img/Logo_Alex2.png") 0 0/contain no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_burger{
    display: none;
}

.contacts_container{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(60, 60, 60, .7);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}
.contacts_container.active{
    display: flex;
}

.contacts_holder{
    width: 50%;
    height: content-box;
    background-color: #ffffff;
    border-radius: 8px;
}

.contacts_header_holder{
    width: 100%;
    height: 100px;
    background-color: #4793FF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.exit_contacts_holder{
    width: 50px;
    height: 50px;
    /*background-color: red;*/
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_contacts{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    transition: all 0.3s ease 0s;

}

.exit_contacts:hover{
    background-color: rgba(232, 232, 232, 0.3);
}

.exit_contacts:after, .exit_contacts:before{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 50%;
    height: 2px;
    transition: all 0.3s ease 0s;

}

.exit_contacts:before{
    left: 12px;
    top: 24px;
    transform: rotate(45deg);
}
.exit_contacts:after{
    bottom: 24px;
    left: 12px;
    transform: rotate(-45deg);
}

#contacts_logo{
    margin-left: 30px;
}


.contacts_info_holder{

}


.logo_container img{
    width: 45px;
    height: 40px;
    padding: 0 10px;
}
.logo_container{
    display: flex;
    width: fit-content;
    align-items: center;
    position: absolute;
}

.logo_container .title{
    font-size: 35px;
    font-family: 'EB Garamond', serif;
    /*text-shadow: 2px 0 2px #53BCD9,
    0 2px 2px #53BCD9,
    -2px 0 2px #53BCD9,
    0 -2px 2px #53BCD9;*/
    color: #143258;
}



.menuBar{
    position: absolute;
    right: 0;
}

.menuBar ul{
    list-style: none;
    padding: 0;
    margin-right: 20px;
    display: flex;
    font: bold 1.5rem sans-serif;
    text-transform: uppercase;
}

.menuBar ul li{
    display: inline-block;
    cursor: pointer;
    font-family: 'Nunito', bold;
    color: #4793FF;
    font-size: 12px;
    padding: 0 0.5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.menuBar ul li:before{
    content: "";
    position: absolute;
    inset: calc(100% - 2px) 0 0 0;
    background: #143258;
    scale:0 1;
    transition: .3s, translate 0s .3s;

}

.menuBar ul:hover li:before {
    scale: 1;
}


.menuBar ul li:hover:before {
    translate: 0;
    transition: .3s;
}
.menuBar ul:hover li:has(~ li:hover):before {
    translate: 100% 0;
    transition: .2s .2s,scale 0s .4s;
}
.menuBar ul:hover li:hover ~ li:before {
    translate: -100% 0;
    transition: .2s .2s,scale 0s .4s;
}




/*.menuBar ul li:last-child{*/
/*    margin-right: 40px;*/
/*}*/

.info_container{
    width: 100%;
    height: 44em;
    background: url("img/wallpaper2.jpg") 0 0/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container .h1{
    font-family: Arial;
    font-size: 65px;
    color: #ffffff;
    line-height: 1;
}
.info_holder{
    margin-top: -100px;
}

.info_holder hr{
    width: 100px;
    border: none;
    height: 2px;
    background-color: #ffffff;
    margin-left: 5px;
    margin-top: 10px;

}

.info_holder h3{
    font-family: 'Ysabeau Infant';
    font-size: 15px;
    margin-top: 15px;
    margin-left: 5px;
    color: #ffffff;
}

.info_holder .button_info{
    border: 1px solid #143258;
    cursor: pointer;
    font-family: 'Nunito', bold;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.button_services{
    background: none;
    padding: 10px 40px;
    margin-left: 10px;
    color: #143258;
}
.button_services:hover{
    background-color: #143258;
    color: #ffffff;
    transition: all 0.2s ease 0s;
}

.button_consult{
    background: none;
    padding: 10px;
    color: #143258;
}
.button_consult:hover{
    background: none;
    color: #ffffff;
    transition: all 0.2s ease 0s;
}


.second_container{
    width: 100%;
    height: content-box;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.second_holder{
    width: 90%;
    height: content-box;
    /*background-color: yellow;*/
    display: flex;
    justify-content: center;
}

.window{
    width: 30%;
    height: content-box;
    /*background-color: green;*/
    margin-left: 50px;
}:first-child{
     margin-left: 0;
 }

.window_content{
    padding-top: 70px;
    width: 100%;
    height: content-box;
    /*background-color: white;*/
    text-align: center;
    padding-bottom: 70px;
}

.window_content h1{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
.window_content h2{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 16px;
    color: #143258;
}

.second_window_icons{
    width: 50%;
    margin-bottom: 20px;
}

.third_container{
    width: 100%;
    height: content-box;
}
.third_container img{
    width: 100%;
}
#image{
    width: 100%;
}

.fourth_container{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    padding: 100px 0 200px 0;
}

.fourth_holder{
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list{
    width: 100%;
    height: content-box;
}

.list_items{

    width: 100%;
    height: content-box;
    margin-top: 10px;
    position: relative;
}
.list_items:first-child{
    margin-top: 0;
}

.list_items a h1{
    color: #000000;

}
.exit{
    cursor: pointer;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    right: 0;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    transition: all 0.3s ease 0s;
    border-radius: 30px;
}
.exit:hover{
    background-color: #c3c3c3;

}
.exit_holder{
    width: 50%;
    right: 0;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}
exit.active{
    background-color: #ffffff;
}
.exit:after, .exit:before{
    content: '';
    background-color: #143258;
    position: absolute;
    width: 50%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.exit:before{
    left: 10px;
    top: 18px;
    transform: rotate(90deg);
}
.exit:after{
    bottom: 20px;
    left: 10px;
}
.exit.active:before{
    transform: rotate(45deg);
}
.exit.active:after{
    transform: rotate(-45deg);
}

.fourth_container{
    width: 100%;
    height: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
}



.list_container{
    width: 80%;
    height: fit-content;
    /*background-color: yellow;*/
    position: relative;
}


.list_item{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid #143258;
    position: relative;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.list_title{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    color: #143258;
}
.list_item:first-child{
    margin-top: 0;
}
.list_item h1{
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 30px;
}

.list_item a{
    color: #143258;
}

.list_info{
    width: 101%;
    padding:10px 0 10px 0;
    /*background-color: grey;*/
    display: none;
    transition: all 0.3s ease 0s;
}
.list_info h3{
    margin-left: 10px;
    font-family: 'Ysabeau Infant', sans-serif;
    color: #143258;
}
.list_info.active{
    display: block;
}


.fifth_container{
    width: 100%;
    height: 20em;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.fifth_holder{

}

.services_info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_info h1{
    font-size: 10px;
}
.services_info h2{
    font-size: 8px;
}

.services_info div{
}

.info_img_container{
    display: flex;
}
.info_img_container img{
    width: 50%;
}





.crucial-step-last{
    top: -10px;
}
body {
    font-family: proxima nova, 'proxima-nova', sans-serif;
}

.crucial-step {
    text-align: right;
}
.regular-step:last-child{
    margin-bottom: 200px;
}
.how-we-work-timeline--container h5 {
// font: 500 22px/1.45 'proxima nova',sans-serif;
    font-size: 2em;
    line-height: 1.25;
    margin: 0;
    color: #1d2c4c;
}
.text-blue {
    color: #2a5781;
}



.how-we-work-timeline--container ul {
    padding: 0;
    margin-bottom: 70px;
}
.how-we-work-timeline--container section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.how-we-work-timeline--container .how-it-works-intro {
    background: linear-gradient(#f5f8fb,#fff);
    padding-top: 6rem;
    padding-bottom: 5rem;
}
.how-we-work-timeline--container .main {
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1600px;
}
.how-we-work-timeline--container .intro
{
    background:linear-gradient(#f5f8fb,#fff)
}

.how-we-work-timeline--container .timeline
{
    position:relative;
    border-top:1px solid #f0f0f0
}

@media (max-width:991px)
{
    .how-we-work-timeline--container .timeline
    {
        margin:0 auto;
        max-width:340px
    }
}
.how-we-work-timeline--container .timeline .timeline-label
{
    font-size:30px;
    text-align: center;
    color: #143258;
    font-family: 'Ysabeau Infant', sans-serif;
    margin-bottom: 50px;
    margin-top: 50px;

}
.how-we-work-timeline--container .timeline-step
{
    position:relative;
    width:2px;
    margin:0 auto;
    list-style-type:none;
    background:#f0f0f0
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .timeline-step
    {
        margin:0
    }
}
.how-we-work-timeline--container .timeline-step:nth-child(2n) .step-container
{
    left:100px;
}
.how-we-work-timeline--container .timeline-step:nth-child(2n) .step-container.scrolled
{
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .timeline-step:nth-child(2n) .step-container
    {
        left:40px
    }
}
.how-we-work-timeline--container .timeline-step:nth-child(2n) .step-container:before
{
    left:-80px;
    top: 10px;
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .timeline-step:nth-child(2n) .step-container:before
    {
        left:-30px
    }
}
.how-we-work-timeline--container .timeline-step:nth-child(odd) .step-container
{
    left:-545px;
    text-align:right;
    top: -10px;
}

@media (max-width:991px)
{
    .how-we-work-timeline--container .timeline-step:nth-child(odd) .step-container
    {
        left:40px;
        text-align:left
    }

}
.how-we-work-timeline--container .timeline-step:nth-child(odd) .step-container:before
{
    right:-80px
}

.how-we-work-timeline--container .timeline-step:hover:after
{

    background:#143258;
}
.how-we-work-timeline--container .timeline-step:after
{
    content:"";
    position:absolute;
    transition:all .2s ease;
    left:50%;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
    /*width:8px;*/
    /*height:8px;*/
    border-radius:50%;
    background:inherit;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;

}
.small-margin-top{
    color: #143258;
    font-family: 'Ysabeau Infant', sans-serif;
}
.how-we-work-timeline--container .process-transition
{
    max-width:400px;
    text-align:center;
    margin:64px auto
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .process-transition
    {
        text-align:left;
        margin:32px 0
    }
}
.how-we-work-timeline--container .crucial-step:after
{
    top:-5px;
    /*border:10px solid #fff;*/
    background:#143258;
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .crucial-step:after
    {
        top:25px
    }
}
.how-we-work-timeline--container .crucial-step .step-container:before
{
    top:18px;
    background:#143258;
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .crucial-step .step-container:before
    {
        top:38px
    }
}
.how-we-work-timeline--container .regular-step:after
{
    top:120px;
    /*border:10px solid #fff;*/
    background: #2262d5;
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .regular-step:after
    {
        top:140px
    }
}
.how-we-work-timeline--container .step-container
{
    position:relative;
    bottom:0;
    width:445px
}
@media (max-width:991px)
{
    .how-we-work-timeline--container .step-container
    {
        padding:24px 0;
        width:280px;
    }
}
.how-we-work-timeline--container .step-container:before
{
    content:"";
    position:absolute;
    top:133px;
    width:60px;
    height:2px;
    background:#f0f0f0
}









.form_container{
    width: 100%;
    height: content-box;
    background-color: #53BCD9;
}

.form_title_holder{
    width: 100%;
    height: content-box;
    text-align: center;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 25px;
    color: #143258;
    padding: 40px 0 20px 0;
    text-transform: uppercase;
}

.form_holder{
    width: 100%;
    height: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

form{
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 15px;
    width: 30%;

}

label.error{
    display: none!important;
}

form input{
    width: 95%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    outline: none;
}

form input.error{
    border-color:red;
}

form textarea {
    width: 95%;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
    resize: none;
    outline: none;
}

form button {
    height: 50px;
    width: 35%;
    cursor: pointer;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 10px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 20px;
    color: #ffffff;
    margin-top: 10px;
    padding-bottom: 5px;
    transition: all 0.3s ease 0s;
}

form button:hover{
    background-color: #143258;

}
.form_holder form{
    text-align: center;
}
.form_holder form input{
    margin: 10px auto;
}
.form_holder form textarea{
    margin: 10px auto;
}


.scroller{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50%;
    z-index: 50;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
.scroller:hover{
    background-color: rgba(0,0,0,0.5);
}
.scroller:after,
.scroller:before{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 35%;

    height: 2px;
    transition: all 0.3s ease 0s;
}
.scroller:before{
    top: 44%;
    left: 22%;
    transform: rotate(135deg);

}
.scroller:after{
    bottom: 52%;
    left: 44%;
    transform: rotate(-135deg);
}

.wp_container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wp{
    width: 100%;
}
.wp_mob{
    width: 100%;
    display: none;
}
.wp_info{
    position: absolute;

    color: #ffffff;
    font-size: 20px;
    width: 30%;
    height: fit-content;
}
.wp_info h1{
    font-family: 'Ysabeau Infant', sans-serif;
    text-align: center;
}
.wp_info h3{
    font-family: 'Ysabeau Infant', sans-serif;
    margin-top: 10px;
    text-align: right;
}



.sixth_container{
    width: 100%;
    height: 45em;
}
.sixth_title{
    font-size: 30px;
    font-family: 'Ysabeau Infant', sans-serif;
    color: #143258;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}
.sixth_holder{

    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.sixth_img_holder{
    width: 50%;
    height: 10em;
}
.sixth_img_holder img{
    width: 50%;
}
.sixth_info_holder{
    width: 50%;
    font-size: 20px;
    font-family: 'Ysabeau Infant', sans-serif;
}


@media (max-width:900px) {

    .wp{
        width: 100%;
        display: none;
    }
    .wp_mob{
        width: 100%;
        display: block;
    }
    .wp_info {
        width: 55%;
    }
    .sixth_container{
        height: fit-content;
        padding-bottom: 70px;
    }
    .sixth_holder {
        display: block;
    }

    .sixth_img_holder{
        width: 68%;
        height: fit-content;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .sixth_img_holder img{
        width: 100%;
    }

    .sixth_info_holder{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }


    .how-we-work-timeline--container .timeline-step:nth-child(odd) .step-container:before
    {
        right: 290px
    }
    form button{
        width: 65%;
    }

    .how-we-work-timeline--container .step-container:before
    {
        top:153px;
        width:20px
    }



    .logo_container img{
        width: 30px;
        height: 30px;
    }
    .header_burger{
        display: block;
        position: absolute;
        width: 25px;
        height: 20px;
        z-index: 2;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 20px;
    }
    .header_burger:after,
    .header_burger:before{
        content: '';
        background-color: #4793FF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger span{
        position: absolute;
        background-color: #4793FF;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .menuBar ul{
        display: block;
    }

    .menuBar ul li{
        display: block;
        margin: 0 0 20px 0;
    }
    .menuBar ul li a{
        color: white;
    }
    .menuBar{
        width: 100%;
        height: 100%;
        background-color: #4793FF;
        top: -150%;
        left: 0;
        padding: 70px 10px 20px 10px;
        overflow: auto;
        transition: all 0.3s ease 0s;
        position: fixed;
    }

    .menuBar.active{
        top: 0;
    }
    .logo_container{
        left: 0;
        margin-left: 20px;
        z-index: 3;
    }
    .header{
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 4;
    }
    .header:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1;
        border-bottom: 1px solid #4793FF;
    }
    .logo_container h1{
        font-size: 30px;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_link{
        font-size: 24px;
    }

    .info_container{
        background: url("img/wallpaper3.jpg") 0 0/cover no-repeat;
        width: 100%;
        height: 40em;
        margin-top: 50px;
    }
    .info_container .h1{
        font-size: 30px;
    }
    .info_container h3{
        font-size: 10px;
    }
    .info_holder{
        margin-top: -100px;
        width: 55%;
        text-align: center;
    }
    .info_holder .button_info {
        font-size: 11px;
    }
    .button_services{
        padding: 10px 20px;
        margin-left: 0;
    }
    .info_holder hr{
        margin: 10px auto;
    }

    .second_holder{
        width: 80%;
        display: block;
    }
    .window_content{
        padding-bottom: 50px;
        padding-top: 0;
    }

    .window:first-child{
        padding-top: 50px;
    }

    .window{
        margin-left: 0;
        width: 100%;
        margin-top: 0;
    }
    .second_window_icons{
        width: 50%;
        margin-bottom: 20px;
    }
    .window_content h1{
        margin-bottom: 10px;
        font-size: 24px;
    }
    .window_content h2{
        font-size: 16px;
        line-height: 20px;
        font-family: 'Ysabeau Infant', sans-serif;
        color: #143258;
    }

    .third_container{
        width: 100%;
        height: content-box;
    }
    .third_container img{
        width: 100%;

    }
    .exit:hover{
        background:none;
    }

    #contacts_logo h1{
        font-size: 25px;
    }

    .contacts_header_holder{
        height: 60px;
        width: 100%;
    }
    .contacts_holder {
        width: 90%;
    }
    .exit_contacts_holder {
        width: 35px;
        height: 35px;
    }
    .exit_contacts {
        width: 35px;
        height: 35px;

    }
    .exit_contacts:before {
        left: 9px;
        top: 17px;
    }
    .exit_contacts:after {
        bottom: 16px;
        left: 9px;
    }
    #contacts_logo {
        margin-left: 15px;
    }

    .info_img_container{
        display: block;
    }
    .info_img_container img{
        width: 100%;
        margin-top: -5px;
    }
    .fourth_holder{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /*background-color: red;*/
    }
    .fourth_container{
        padding: 50px 0 50px 0;
    }

    .form_container{
        margin-top: -5px;
    }
    form{
        width: 80%;
    }

    .list_item h1{
        font-size: 20px;
    }
    .list_info h3{
        font-size: 16px;
    }

}

